
<div>
  <input [(ngModel)]="values" name="name" #name>
   
   <input type = "button" value="Name Search" (click) =getNameSearch()>
   <input type = "button" value="Building Search" (click) =getBuildingSearch()>
   
   <input type = "button" value="Tower Search" (click) =getTowerSearch()>
   <input type = "button" value="Property Search" (click) =getPropertySearch()>
   
   <input type = "button" value="Configuration Search" (click) =getConfigurationSearch()>
   <input type ="button" (click) =getRowData() value="Reset">
</div>

<ag-grid-angular
   style="width:100%; height: 600px"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData"
   [rowSelection]="'multiple'"
   [animateRows]="true"
 ></ag-grid-angular>